In [ ]:
#create data frame 
    # list,dict,csv

In [2]:
import numpy as np
import pandas as pd

In [5]:
#list
student_details=[
    [100,80,10],
    [90,70,7],
    [120,100,14],
    [80,50,2]
]
pd.DataFrame(student_details, columns=['iq','marks','package'])

    iq  marks  package
0  100     80       10
1   90     70        7
2  120    100       14
3   80     50        2

In [8]:
#dictionary
student_details_dict={
    'iq':[100,90,120,80],
    'marks':[80,70,100,50],
    'package':[10,7,14,2]
}
student_df=pd.DataFrame(student_details_dict)

In [9]:
student_df

    iq  marks  package
0  100     80       10
1   90     70        7
2  120    100       14
3   80     50        2

In [20]:
#read_csv
movies_df=pd.read_csv(r'C:\Users\HP\Desktop\all folder\pandas\movies.csv')
ipl_df=pd.read_csv(r'C:\Users\HP\Desktop\all folder\pandas\ipl-matches.csv')