In [1]:
#dataframe attribute and methods

In [26]:
import numpy as np
import pandas as pd
movies_df=pd.read_csv(r'C:\Users\HP\Desktop\all folder\pandas\movies.csv')
ipl_df=pd.read_csv(r'C:\Users\HP\Desktop\all folder\pandas\ipl-matches.csv')
student_details_dict={
    'iq':[100,90,120,80,0,0],
    'marks':[80,70,100,50,0,0],
    'package':[10,7,14,2,0,0]
}
student_df=pd.DataFrame(student_details_dict)

In [4]:
#shape
movies_df.shape
ipl_df.shape

(950, 20)

In [6]:
#dtypes
movies_df.dtypes
ipl_df.dtypes

ID                   int64
City                object
Date                object
Season              object
MatchNumber         object
Team1               object
Team2               object
Venue               object
TossWinner          object
TossDecision        object
SuperOver           object
WinningTeam         object
WonBy               object
Margin             float64
method              object
Player_of_Match     object
Team1Players        object
Team2Players        object
Umpire1             object
Umpire2             object
dtype: object

In [8]:
#index
movies_df.index
ipl_df.index

RangeIndex(start=0, stop=950, step=1)

In [9]:
#columns
movies_df.columns

Index(['title_x', 'imdb_id', 'poster_path', 'wiki_link', 'title_y',
       'original_title', 'is_adult', 'year_of_release', 'runtime', 'genres',
       'imdb_rating', 'imdb_votes', 'story', 'summary', 'tagline', 'actors',
       'wins_nominations', 'release_date'],
      dtype='object')

In [12]:
#values
ipl_df.values
student_df.values

array([[100,  80,  10],
       [ 90,  70,   7],
       [120, 100,  14],
       [ 80,  50,   2]], dtype=int64)

In [14]:
#head and tail
movies_df.head(2)

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)

In [18]:
#sample - random rows provide
movies_df.sample(2)

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
645,Wake Up India,tt3766798,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Wake_Up_India,Wake Up India,Wake Up India,0,2013,130,Drama,6.3,6,A girl ( Sai Tamhankar) stages protest against...,A girl ( Sai Tamhankar) stages protest against...,NaN,Elisha Kriis|Asrani|Milind Gunaji|Adi Irani|An...,NaN,23 October 2013 (India)
1499,23rd March 1931: Shaheed,tt0324951,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/23rd_March_1931:...,23rd March 1931: Shaheed,23rd March 1931: Shaheed,0,2002,188,Biography|Drama|History,5.0,570,When his mentor Lala Lajpatrai is mercilessly ...,When his mentor Lala Lajpatrai is mercilessly ...,NaN,Bobby Deol|Sunny Deol|Amrita Singh|Rahul Dev|V...,1 win,7 June 2002 (USA)

In [19]:
#info
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1629 entries, 0 to 1628
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title_x           1629 non-null   object
 1   imdb_id           1629 non-null   object
 2   poster_path       1526 non-null   object
 3   wiki_link         1629 non-null   object
 4   title_y           1629 non-null   object
 5   original_title    1629 non-null   object
 6   is_adult          1629 non-null   int64
 7   year_of_release   1629 non-null   int64
 8   runtime           1629 non-null   object
 9   genres            1629 non-null   object
 10  imdb_rating       1629 non-null   float64
 11  imdb_votes        1629 non-null   int64
 12  story             1609 non-null   object
 13  summary           1629 non-null   object
 14  tagline           557 non-null    object
 15  actors            1624 non-null   object
 16  wins_nominations  707 non-null    object
 17  release_date      1522 non-null   object
dtypes: float64(1), int64(3), object(14)
memory usage: 229.2+ KB

In [20]:
#describe --mathematical summary 
movies_df.describe()

       is_adult  year_of_release  imdb_rating     imdb_votes
count    1629.0      1629.000000  1629.000000    1629.000000
mean        0.0      2010.263966     5.557459    5384.263352
std         0.0         5.381542     1.567609   14552.103231
min         0.0      2001.000000     0.000000       0.000000
25%         0.0      2005.000000     4.400000     233.000000
50%         0.0      2011.000000     5.600000    1000.000000
75%         0.0      2015.000000     6.800000    4287.000000
max         0.0      2019.000000     9.400000  310481.000000

In [22]:
#isnull() + sum() -- tell that null values are there using T/F and
#  sum add all to to konw how many missing value
movies_df.isnull().sum()

title_x                0
imdb_id                0
poster_path          103
wiki_link              0
title_y                0
original_title         0
is_adult               0
year_of_release        0
runtime                0
genres                 0
imdb_rating            0
imdb_votes             0
story                 20
summary                0
tagline             1072
actors                 5
wins_nominations     922
release_date         107
dtype: int64

In [24]:
#duplicated -- find duplicate rows
movies_df.duplicated().sum()

0

In [30]:
student_df.duplicated().sum()
#so there is 1 duplicated row

1

In [31]:
#how to fetch that row
student_df[student_df.duplicated()]

   iq  marks  package
5   0      0        0

In [36]:
#rename -- change column name (we do this as dictionary--columns={'previous_name':'new_name'})
student_df.rename(columns={'marks':'score'})

#this is not permanent change. use inplace=true
student_df.rename(columns={'marks':'score'},inplace=True)
student_df

    iq  score  package
0  100     80       10
1   90     70        7
2  120    100       14
3   80     50        2
4    0      0        0
5    0      0        0