In [ ]:
#mathematical functions

In [5]:
import numpy as np
import pandas as pd
movies_df=pd.read_csv(r'C:\Users\HP\Desktop\all folder\pandas\movies.csv')
ipl_df=pd.read_csv(r'C:\Users\HP\Desktop\all folder\pandas\ipl-matches.csv')
student_details_dict={
    'iq':[100,90,120,80,0,0],
    'marks':[80,70,100,50,0,0],
    'package':[10,7,14,2,0,0]
}
student_df=pd.DataFrame(student_details_dict)

In [2]:
#sum -> axis=1(row sum)
student_df.sum()

iq         390
marks      300
package     33
dtype: int64

In [3]:
student_df.sum(axis=1)

0    190
1    167
2    234
3    132
4      0
5      0
dtype: int64

In [8]:
student_df.mean()

iq         65.0
marks      50.0
package     5.5
dtype: float64

In [9]:
student_df.mean(axis=1)

0    63.333333
1    55.666667
2    78.000000
3    44.000000
4     0.000000
5     0.000000
dtype: float64

In [10]:
#median mode std var
student_df.var()

iq         2710.0
marks      1760.0
package      33.5
dtype: float64

In [11]:
student_df.describe()

              iq       marks    package
count    6.00000    6.000000   6.000000
mean    65.00000   50.000000   5.500000
std     52.05766   41.952354   5.787918
min      0.00000    0.000000   0.000000
25%     20.00000   12.500000   0.500000
50%     85.00000   60.000000   4.500000
75%     97.50000   77.500000   9.250000
max    120.00000  100.000000  14.000000