In [ ]:
#filtering dataframe

In [2]:
import numpy as np
import pandas as pd
movies_df=pd.read_csv(r'C:\Users\HP\Desktop\all folder\pandas\movies.csv')
ipl_df=pd.read_csv(r'C:\Users\HP\Desktop\all folder\pandas\ipl-matches.csv')
student_details_dict={
    'name':['sanchit','ram','bipul','subh','shalini','anu'],
    'iq':[100,90,120,80,0,0],
    'marks':[80,70,100,50,0,0],
    'package':[10,7,14,2,0,0]
}
student_df=pd.DataFrame(student_details_dict)

In [3]:
ipl_df.head(2)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon

In [8]:
# find all final winners season and team name
# ans=so we will use match number col as final written and then winning team col
win_bool=ipl_df['MatchNumber']=='Final'
broacast=ipl_df[win_bool]
broacast[['Season','WinningTeam']]

      Season            WinningTeam
0       2022         Gujarat Titans
74      2021    Chennai Super Kings
134  2020/21         Mumbai Indians
194     2019         Mumbai Indians
254     2018    Chennai Super Kings
314     2017         Mumbai Indians
373     2016    Sunrisers Hyderabad
433     2015         Mumbai Indians
492     2014  Kolkata Knight Riders
552     2013         Mumbai Indians
628     2012  Kolkata Knight Riders
702     2011    Chennai Super Kings
775  2009/10    Chennai Super Kings
835     2009        Deccan Chargers
892  2007/08       Rajasthan Royals

In [ ]:
ipl_df[ipl_df['MatchNumber']=='Final'][['Season','WinningTeam']]

In [31]:
#how many superover finishes  have occured
ipl_df[~(ipl_df['SuperOver']=='N')] #in this NaNcase also come
ipl_df[ipl_df['SuperOver']=='Y'].shape[0] # shape tell [row,col] & shape[0] only row

14

In [46]:
#how many matches has csk won in kolkata
new=ipl_df[ipl_df['WinningTeam']=='Chennai Super Kings']
ne=ipl_df[ipl_df['City']=='Kolkata']
# make two condition & operator for bool
ipl_df[(ipl_df['WinningTeam']=='Chennai Super Kings') & (ipl_df['City']=='Kolkata')].shape[0]

5

In [65]:
#toss winner is match winner in percentage
ipl_df['TossWinner']
ipl_df['WinningTeam']

new=ipl_df[(ipl_df['TossWinner'])==(ipl_df['WinningTeam'])]
win=new[['TossWinner','WinningTeam']].shape[0]
total=ipl_df.shape[0]
(win/total)*100

51.473684210526315

In [73]:
#movies with higher rating than 8 and votes>10000
movies_df['imdb_rating']>=8
movies_df['imdb_votes']>=10000

movies_df[(movies_df['imdb_rating']>8) & (movies_df['imdb_votes']>10000)]['title_x'].shape[0]

43

In [82]:
#action movie with rating higer than 7.5  
#apply and contain function

movies_df['genres'].str # we cannot split generes directly on basis | using split
movies_df['genres'].str.split('|') #now can split
movies_df['genres'].str.split('|').apply(lambda x:'Action' in x)
# or
 # movies_df['genres'].str.contains('Action')

movies_df['imdb_rating']>7.5
movies_df[(movies_df['genres'].str.split('|').apply(lambda x:'Action' in x)) & (movies_df['imdb_rating']>7.5) ].shape[0]

33