In [ ]:
# using Agg Method

In [20]:
import numpy as np
import pandas as pd
movies_df=pd.read_csv(r'C:\Users\HP\Desktop\all folder\pandas\movies.csv')
ipl_df=pd.read_csv(r'C:\Users\HP\Desktop\all folder\pandas\ipl-matches.csv')
imdb_df=pd.read_csv(r'C:\Users\HP\Desktop\all folder\pandas\imdb-top-1000.csv')
delivery_df=pd.read_csv(r'C:\Users\HP\Desktop\all folder\pandas\deliveries.csv')

In [21]:
imdb_df.head(2)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0

In [22]:
genres=imdb_df.groupby('Genre')

In [ ]:
genres.sum()
#some time we want that different fun on different column apply.

In [ ]:
#agg
 #agg method- passing dictionary
 #agg method -- passing list
 #merge dic and list

In [ ]:
# agg method- passing dictionary
genres.agg(
    {
      'Runtime' :'mean',
      'IMDB_Rating':'mean',
      'No_of_Votes':'sum',
      'Gross':'sum',
      'Metascore': 'min'
    }
)

In [ ]:
#agg method -- passing list
genres.agg(['min','max','sum'])

In [ ]:
#merge dic and list
genres.agg(
    {
      'Runtime' :['mean','min'],
      'IMDB_Rating':'mean',
      'No_of_Votes':['sum','mean'],
      'Gross':'sum',
      'Metascore': 'min'
    }
)