In [6]:
import numpy as np
import pandas as pd
ipl=pd.read_csv(r'C:\Users\HP\Desktop\all folder\pandas\deliveries.csv')

In [7]:
ipl.head(2)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [ ]:
#find the top10 batsmen in terms of runs
batsman_group=ipl.groupby('batsman') # har batsman ka data alag kr diya
batsman_group['batsman_runs'].sum().sort_values(ascending=False).head(10)

In [ ]:
#find the batsman with max no of six
six=ipl[ipl['batsman_runs']==6]
six.groupby('batsman')['batsman'].count().sort_values(ascending=False)

In [ ]:
#find the batsman with most no.of 4's and 6's in last 5 overs
over5=ipl[ipl['over']>5]
six_four=over5[(over5['batsman_runs']==4) | (over5['batsman_runs']==6)]
six_four.groupby('batsman')['batsman'].count().sort_values(ascending=False).head((10))
# THALA for a reason

In [ ]:
#find V Kohli's runs/record against all teams
virat=ipl[ipl['batsman']=='V Kohli']
virat.groupby('bowling_team')['batsman_runs'].sum().sort_values(ascending=False).reset_index()
#reset_index makes df of series

In [56]:
#create a function that can return the highest score of any batsman
ipl.head(1)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [66]:
temp=ipl[ipl['batsman']=='V Kohli']
temp.groupby('match_id')['batsman_runs'].sum().sort_values(ascending=False).head(1).values[0]

113

In [70]:
def highest_runs(batsman):
    temp=ipl[ipl['batsman']==batsman]
    return temp.groupby('match_id')['batsman_runs'].sum().sort_values(ascending=False).head(1).values[0]

In [71]:
highest_runs('MS Dhoni')

89